header {
    background-color: goldenrod;
    color: white;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.618;
}

html * {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

img {
    width: 100%;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.header-subtitle {

}

.header-title {
    font-size: 2rem;
    font-weight: 700;
}

.card {
    border: 1px lightgray solid;

}

.text-box {
    padding: 20px;
}
